body{
    background: #FBF8EC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.content {
    max-width: 1208px;
    width:100%;
}
h1 {
    color: #414141;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin:0px auto;
    margin-bottom: 40px;
}
.grid-container {
    display: grid;
    height: 420px;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    justify-items: center;
}
.article {
    max-width: 376px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.article-pic {
    width: 100%;
    object-position: center;
    object-fit:cover
}
.article-info {
    min-height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;

}
time {
    align-self: stretch;
    color: #8F8F8F;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.article-header {
    align-self: stretch;
    color:#414141;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.article-preview {
    flex: 1;
    align-self: stretch;
    color: #414141;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.more-inactive {
    display: flex;
    width: 150px;
    height:40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #E5FFDE;
    border:0px;
}
.more-inactive-text {
    color: #70C05B;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.more-active {
    display: flex;
    width: 150px;
    height:40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #70C05B;
    border:0px;
}
.more-active-text {
    color: #FFF;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
@media (min-width:801px) and (max-width:1208px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:800px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}